*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nomes{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    height: 300px;
    overflow:scroll;
    width: 50%;
    border: 1px solid black;
}

#nomes::-webkit-scrollbar {
  display: none;
}

.lista-item-container{
    display: flex;
    gap: 8px;
    padding: 16px;
    border: 2px solid black;
    border-radius: 16px;
}

h2{
    position: sticky;
    top:0;
    padding: 16px;
    background-color: white;
    width: 100%;
    text-align: center;
}